extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p Plate:       #{plate.plate}
  p State:       #{plate.state}
  p Body Type:   #{plate.body_type} 
  p Color:       #{plate.color} 
  P Make:        #{plate.make}
  P Make Model:  #{plate.make_model}
         
